---
import { PRODUCT_NAME } from "../config";
---
<header class="site-header"><div class="container nav">
  <a class="brand" href="/">{PRODUCT_NAME}</a>
  <a href="/coins">Coins</a>
  <a href="/blog">Blog</a>
  <a href="/download">Download</a>
  <a href="/about">About</a>
</div></header>
